
.cars-about h1 {
  color: var(--about-head);
  font-size: 4rem;
}

.cars-about h3 {
  font-size: 1.7rem;
  text-align: start;
}

.cars-about img {
  width: 50vw;
}

.map-about img {
  width: 45vw;
}

.top-about-container {
  display: flex;
  justify-content: space-around;
  padding-left: 2rem;
  align-items: center;
  padding-bottom: 7rem;
  background: linear-gradient(
      89.87deg,
      #d1ca8b 0.13%,
      #d1ca8b 34.43%,
      rgba(255, 255, 255, 0) 99.91%
    ),
  #c4c4c4;
}

.bottom-about-container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  padding-bottom: 3.5rem;
  background: #f5dfcb;
}

.how-to-use {
  display: flex;
  justify-content: center;
  align-items: center;
}

.how-to-use img {
  padding-top: 4rem;
  width: 35rem;
}

.about-about h1 {
  color: var(--about-head);
  font-size: 3rem;
}

.about-about h3 {
  font-size: 1.3rem;
  text-align: start;
}


  @media (max-width: 600px) {
    .top-about-container {
      flex-direction: column;
      text-align: center;
    }
    .cars-about h1 {
      font-size: 2.5rem;
      margin-left: 0;
    }
    .cars-about h3 {
      text-align: center;
      font-size: 1.1rem;
    }
    .top-about-container {
      padding-left: 0;
      padding: 1rem;
    }
    .cars-about img {
      width: 75vw;
    }
    .map-about img {
      width: 65vw;
    }
    /* bottom Responsive */
    .bottom-about-container {
      grid-template-columns: 1fr;
    }
    .how-to-use img {
      width: 90vw;
    }
    .about-about h1 {
      text-align: center;
      font-size: 2.4rem;
    }
    .about-about h3 {
      font-size: 1.1rem;
      padding: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
      text-align: justify;
    }
  }