
:root {
    --about-head: #FF0101;
    --service-head: #FAFF1B;
    --booknow-head: #FF7A00;
    --booking-form: #F8EB79;
}

.m-10 {
    margin: 10px;
}

.pt-10 {
    padding: 20px;
}

.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-1{
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}